* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;

}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-red: #e50914;
}


.netflix-logo {
    height: auto;
    width: 280px;
    padding-left: 90px;
    margin-top: 0px;
    position: absolute;
    top: 0px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dropdown {
    width: 100px;
    height: 30px;
    text-align: center;
    background: transparent;
    color: white;
    font-weight: bolder;
    font-size: medium;
}

.main {

    align-items: center;

}

.buttons {
    position: absolute;
    top: 20px;
    right: 50px;
    margin-right: 150px;
}

.signin-btn {
    width: 70px;
    height: 30px;
    background-color: var(--color-red);
    font-weight: bold;
    color: white;
    border-radius: 4px;
    cursor: pointer;

}

body {
    background-color: var(--color-black);
}

.page1 {
    border-bottom: 8px solid #444;
}

.img-cont {
    filter: brightness(39%);

}

.btn2 {
    padding-left: 4px;

}

.tagline {
    color: white;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 600px;
    right: 600px;
    white-space: nowrap;

}

.tagline {
    font-size: 50px;
}

.para {
    position: absolute;
    top: 70px;


}

.paraline {
    color: white;
    font-size: 30px;
    margin-left: 110px;
}

.paraline2 {
    color: white;
    font-size: 20px;
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 60px;
}

.email-input {
    height: 60px;
    width: 360px;
    padding-left: 14px;
    background: transparent;
    border-radius: 5px;
    border: 1px double white;
}

.email {
    padding-top: 20px;
}

::placeholder {
    font-weight: bolder;
    font-size: 15px;

}

#btnstart {
    background-color: var(--color-red);
    width: 220px;
    height: 60px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.getstart {
    position: absolute;
    top: 109px;
}

.page2 {
    background-color: #000;
    width: 100%;
    height: 100%;
}

#btnstart:hover {
    background-color: #e50914c5;

}

.signin-btn:hover {
    background-color: #e50914c5;

}

.page2 {
    width: 100%;
    height: 80vh;
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    z-index: 2;
    border-bottom: 8px solid #444;

}

.text2 {
    position: absolute;
    left: 100px;
    top: 200px;
    font-weight: bolder;
    font-size: 50px;
}

.text3 {
    position: absolute;
    left: 100px;
    top: 280px;
    font-weight: bolder;
    font-size: 20px;
}

.imgtv {
    position: absolute;
    left: 800px;
}

.bgimg {
    width: 450px;

    position: absolute;
    left: 900px;
    top: 100px;
}

.page3 {
    width: 100%;
    height: 80vh;
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    z-index: 2;
    border-bottom: 8px solid #444;

}

.textp3 {
    position: absolute;
    left: 750px;
    top: 140px;
    font-size: 50px;
}

.textsp3 {
    position: absolute;
    left: 750px;
    top: 290px;
    font-weight: bolder;
    font-size: 20px;
}

.st {
    position: absolute;
    top: 80px;
    left: 110px;
}

.page4 {
    width: 100%;
    height: 80vh;
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    z-index: 2;
    border-bottom: 8px solid #444;

}

.textp4 {
    position: absolute;
    left: 100px;
    top: 200px;
    font-weight: bolder;
    font-size: 50px;
}

.textsp4 {
    position: absolute;
    left: 100px;
    top: 280px;
    font-weight: bolder;
    font-size: 20px;
}

.days {
    width: 380px;

    position: absolute;
    left: 800px;
    top: 50px
}

.dayscont {

    position: absolute;
    left: 700px;
}

.page5 {
    width: 100%;
    height: 80vh;
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    z-index: 2;
    border-bottom: 8px solid #444;
}

.textp5 {
    position: absolute;
    left: 750px;
    top: 140px;
    font-size: 50px;

}

.textsp5 {
    position: absolute;
    left: 750px;
    top: 230px;
    font-weight: bolder;
    font-size: 20px;


}

.page6 {
    width: 100%;
    height: 180vh;
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    z-index: 2;
    border-bottom: 8px solid #444;

}

.qa {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

.faqcont {
    padding-left: 20px;
    display: flex;
    height: 70px;
    background-color: #333;

    width: 80%;
    margin-left: 160px;
    margin-top: 5px;
}

.q1,.q2 {
    padding-top: 22px;
    font-size: 25px;
    white-space: nowrap;
}

.faqcont:hover {
    background-color: rgb(92, 89, 89);
}

.plus,.plus2{
    margin-left:940px;
    width:30px;
    height:20px;
}
.pluss,.pluss2{
    display: flex;

    align-items: center;
    justify-content: center;
}
#btnstart1{
    background-color: var(--color-red);
    width: 220px;
    height: 60px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 8px;
    margin-left: 30px;
    cursor: pointer;
    position: absolute;
    top: 475px;
    left: 0px;

}
.paraline2b{
    color: white;
    font-size: 20px;
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 60px;
    text-align: center;

}
.email-inputb{
    height: 60px;
    width: 360px;
    padding-left: 14px;
    background: transparent;
    border-radius: 5px;
    border: 1px double white;
    margin-left: 450px;

}
.bottom{
    border-bottom: 8px solid #444;
    height: 30vh;
}
.tel{
    margin-left: 190px;
    margin-top: 80px;
}
.list1{
    list-style-type: none;
    
}
.lii{
    margin-left: 200px;
    margin-top: 40px;
}
.lii a{
    padding-top: 95px;
}
.l1{
    position: absolute;
    top:840px;
    left: 300px;
}
.l2{
    position: absolute;
    top:1px;
    left:400px;
}
.langbtn{
    position: absolute;
    left:200px;
    top: 990px;
}